body {
    max-width: 850px;
    margin: 0 auto;
    background-color: #484747;
    color: white;
}

input[type = "submit"] {
    float: right;
    margin: 20px;
    margin-bottom: 80px;
}

input {
    margin: 10px;  
}

lable {
    font-weight: 600;
}

#tytul {
    max-width: 850px;
    margin: 0 auto;
    padding: 10px;
    padding-top: 40px;
}

#myForm {
    padding: 10px;
}

#miasto {
    margin-bottom: 10px;
}

#message {
    margin: 15px;
}

.first {
    padding-top: 20px 40px 0 40px;
    margin-top: 10px;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}


